!!! 5
%html
  %head
    %title="dwm bar theme creator"
    %script{:type => "text/javascript",
            :src  => "http://code.jquery.com/jquery-1.7.js"}
    %script{:type => "text/javascript",
            :src  => "https://raw.github.com/jweir/colorwheel/master/javascripts/raphael-1.3.1-min.js"}
    %script{:type => "text/javascript",
            :src  => "https://github.com/jweir/colorwheel/raw/master/javascripts/colorwheel.js"}
    %link{:rel => "stylesheet", :href => "style.css"}
    %script{:type => "text/javascript", :src=> "js.js"}
  %body
    
    .dwm
      .title='DWM THEME CREATOR'
      .dwm_wrap
        .dwm_nav_bar
          .dwm_nav(id='nav_1')='web'
          .dwm_nav(id='nav_2')='code'
          .dwm_nav(id='nav_3')='chat'
          .dwm_nav(id='nav_4')='music'
          .dwm_nav(id='nav_5')='extra'
        .dwm_bar
          .dwm_win(id='win')='[T]'
          .dwm_title(id='title')='index.haml + (~/dwmconfig) - GVIM'
          .dwm_root(id='root')='Wednesday Nov 16 11:26'
    %br
    %br
    .dwm_edit
      .dwm_edit_cat='Foreground: Selected'
      .dwm_edit_box(id='sel_fg')='a'
      %br
      .dwm_edit_cat='Foreground: Unselected' 
      .dwm_edit_box(id='unsel_fg')='a'
      %br
      .dwm_edit_cat='Background: Selected' 
      .dwm_edit_box(id='sel_bg')='a'
      %br
      .dwm_edit_cat='Background: Unselected' 
      .dwm_edit_box(id='unsel_bg')='a'
      %br
      .dwm_edit_cat='Border: Selected' 
      .dwm_edit_box(id='sel_border')='a'
      %br
      .dwm_edit_cat='Border: Unselected' 
      .dwm_edit_box(id='unsel_border')='a'
      %br
    
    .c(id="color_box")
    .output
      %textarea(id='output' rows='6' cols='48')
    
    %br
    %br
    
    .todo
      .title='Todo'
      %ul
        %li='Allow users to select font'
        %li='Allow user to choose border size'
        %li='Add window rule section'
        %li='Add remove workspace tags'
        %li='Polish'

    By Dylan Johnston

