body {
  font-family: "Droid Sans Mono";
  background-color: #1f7da1;
  color: white; }

textarea {
  border: dotted 5px white;
  font-family: "Droid Sans Mono";
  color: white;
  background-color: black; }

.title {
  font-size: 40px; }

.dwm_bar {
  display: inline;
  width: 100%; }

.dwm_edit {
  width: 500px; }

.dwm_edit_cat {
  display: inline; }

.dwm_edit_box {
  display: inline;
  padding-left: 40px;
  padding-right: 40px;
  float: right; }

#color_box {
  position: absolute;
  right: 0px;
  top: 100px;
  width: 400px; }

.dwm_nav_bar {
  display: inline; }

.box {
  float: right; }

.dwm_nav, .dwm_nav_sel {
  display: inline;
  width: 10px; }

.nav_padding, .dwm_nav, .dwm_nav_sel {
  padding-left: 7px;
  padding-right: 7px; }

.dwm_win {
  display: inline; }

.dwm_title {
  display: inline;
  width: 100%; }

.dwm_root {
  padding-left: 7px;
  padding-right: 7px;
  float: right; }
